# Dart & Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub/
.pub-cache/
.packages
build/
**/*.g.dart
**/*.freezed.dart

# IDE
.idea/
.vscode/

# Build artifacts
app_*.apk
app_*.aab
app_*.ipa

# Log files
*.log